
/* 버튼 위치 */
.start-img-btn{
    display: block;
    width: 20%;
    height: auto;
    margin-top: -8%;
    margin-left: 40%;
}

/* 버튼 효과 */
.btneffect0{
    -webkit-transform:scale(1);
    -moz-transform:scale(1);
    -ms-transform:scale(1); 
    -o-transform:scale(1);  
    transform:scale(1);
    -webkit-transition:.5s;
    -moz-transition:.5s;
    -ms-transition:.5s;
    -o-transition:.5s;
    transition:.5s;
}

.btneffect0{
    overflow: hidden;
}
.btneffect0:active{
    -webkit-transform:scale(1.5);
    -moz-transform:scale(1.5);
    -ms-transform:scale(1.5);   
    -o-transform:scale(1.5);
    transform:scale(1.5);
}
/* 3개 목록 */
.three-img-btn0{

    display: block;
    width: 20%;
    height: auto;
    margin-top: -16%;
    margin-left: 12%;
}
.three-img-btn1{
    display: block;
    width: 20%;
    height: auto;
    margin-top: -3%;
    margin-left: 40.5%;
}
.three-img-btn2{
    display: block;
    width: 20%;
    height: auto;
    margin-top: -3%;
    margin-left: 69.5%;
}

/* 2개 목록 */

.two-img-btn0{
    display: block;
    width: 20%;
    height: auto;
    margin-top: -17.5%;
    margin-left: 19.5%;
}

.two-img-btn1{
    display: block;
    width: 20%;
    height: auto;
    margin-top: -5.7%;
    margin-left: 58.5%;
}

.two-img-btn2{
    display: block;
    width: 23%;
    height: auto;
    margin-top: -6.1%;
    margin-left: 57.8%;
}

/* like btn */
.like-img-btn0{
    display: block;
    width: 15%;
    height: auto;
    margin-top: -17.5%;
    margin-left: 22.2%;
}
.like-img-btn1{
    display: block;
    width: 15%;
    height: auto;
    margin-top: -5%;
    margin-left: 61.9%;
}

/* home btn */

.home-btn{
    display: block;
    width: 5%;
    height: auto;
    margin-top: -33.1%;
    margin-left: 85%;
}

.back-btn{
    display: block;
    width: 5%;
    height: auto;
    margin-top: -5%;
    margin-left: 12%;
}

.likehome-btn{
    display: block;
    width: 5%;
    height: auto;
    margin-top: -32.2%;
    margin-left: 85%;
}
.likeback-btn{
    display: block;
    width: 5%;
    height: auto;
    margin-top: -5%;
    margin-left: 12%;
}
/* food home prev btn */
.foodhome-btn0{
    display: block;
    width: 5%;
    height: auto;
    margin-top: -33.4%;
    margin-left: 85%;
}

.foodback-btn0{
    display: block;
    width: 5%;
    height: auto;
    margin-top: -5%;
    margin-left: 12%;
}


